@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0 auto;
  padding: 10px;
  background: ghostwhite;
}

@media (min-width: 768px) {
  body {
    width: 700px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 800px;
  }
}
